<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oden.syd_camera">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.oden.syd_camera.SydVideoActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.oden.syd_camera.SydCameraActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.oden.syd_camera.SydCropActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
